<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aldready registered</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Do+Hyeon&family=Galada&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <div class="jumbotron text-center" style="background-color: chocolate;width: 100%;">
        <h1>
            You have aldready registered!!!!!
        </h1>
        <h2>
            Please Login or create a new account.
        </h2>
    </div>
    <div class="row">
    <img src="puppy.jpg" alt="pup" class="responsive" style="margin-left: 2%;width: 50%;" id="pup">
    <div class="card" style="width: fit-content;">
        <div class="card-header">
            <h2>
                Get a cup of coffee and have a great day!!!
            </h2>
        </div>
        <div class="card-body">
            <ul>
                <li>Coffee can reduce your stress</li>
                <li>Coffee is anti-cancerous</li>
                <li>Have it twice a day to get a great skin!!</li>
            </ul>
            <img src="coffee.jpg" class="responsive" alt="coffee" style="width: 30%;margin-left: 30%;margin-top: 6%;" id="coffee">
        </div>
    </div>
    </div>
    <style>
        
        @media screen and (max-width:812px)
        {
            #pup{
                display: none;
                justify-items: center;
            }
        }
    </style>
</body>
</html>