<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thank you</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Do+Hyeon&family=Galada&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="font-family:  'Galada', cursive;
font-size: x-large;">
    <div class="jumbotron text-center" style="background-color: chocolate;">
        We thank you for showing interest in our official ideathon, we will notify you further
        on your progress.
        <h3> STAY!! SAFE!!</h3>
        
    </div>
    <img src="robot.jpg" alt="Covid Image" class="responsive" style="height: 50%;width: 50%;margin-left: 25%;margin-bottom: 3%;">
    <div class="jumbotron text-center" id="tips">
        <h2>Tips to daily life pro-covid:</h2>
        <li>
            Rinse your mask with mild alcohol.
        </li>
        <li>
            Have up spices to boost your immunity
        </li>
        <li>
            Sanitize frequently neutralize the virus
        </li>
        <li>
            Follow us on insta: https://www.instagram.com/ieee.ras.pesuecc/
        </li>
    </div>
</body>
</html>